{{> header}}
<div id="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/travel">Travel</a></li>
        <li class="selected"><a href="/rooms">Rooms</a></li>
        <li><a href="/meals">Meals</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
</div>
<div id="contents" style="height: fit-content;">
 <div class="box" style="min-height:100px">
        <div>
            <div class="body">
                <h1>Rooms</h1>
                <ul id="rooms">
                    <li>
                        <a href="rooms.html"><img src="images/first-class.jpg" alt="Img"></a>
                        <h2><a href="rooms.html">First Class Room</a></h2>
                        <p>
                            Cras dui sapien, feugiat vitae tristique ut, lobortis tempor orci. Donec pulvinar sagittis
                            metus ut tristique. Pellentes que habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas idios.
                        </p>
                        <span class="rate">Rate: 220 / Day</span>
                    </li>
                    <li>
                        <a href="rooms.html"><img src="images/deluxe.jpg" alt="Img"></a>
                        <h2><a href="rooms.html">Deluxe Room</a></h2>
                        <p>
                            Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel
                            vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi. Fusce at
                            pretium felis.
                        </p>
                        <span class="rate">Rate: 150 / Day</span>
                    </li>
                    <li>
                        <a href="rooms.html"><img src="images/suite.jpg" alt="Img"></a>
                        <h2><a href="rooms.html">Suite Room</a></h2>
                        <p>
                            Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel
                            vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi. Fusce at
                            pretium felis.
                        </p>
                        <span class="rate">Rate: 180 / Day</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{> footer}}